{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <div class="row g-4 align-items-center">

    <!-- Картинка -->
    <div class="col-12 col-lg-6">
      {% if exercise.image %}
        <img src="{{ exercise.image.url }}" alt="{{ exercise.title }}" class="img-fluid w-100 rounded pastel-img">
      {% endif %}
    </div>

    <!-- Текст и кнопка -->
    <div class="col-12 col-lg-6">
      <div class="card-body">
        <h2 class="card-title">{{ exercise.title }}</h2>
        <p class="card-text">{{ exercise.description }}</p>
        <p><strong>Инструкция:</strong> {{ exercise.instructions }}</p>
        <p><strong>Время (мин):</strong> {{ exercise.duration }}</p>

        <form method="post" action="{% url 'start_breathing_session' exercise.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Начать упражнение</button>
        </form>
      </div>
    </div>

  </div>
</div>
{% endblock %}
