{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <div class="row g-4 align-items-center">

    <!-- Картинка -->
    <div class="col-12 col-lg-6">
      {% if meditation.image %}
        <img src="{{ meditation.image.url }}" alt="{{ meditation.title }}" class="img-fluid w-100 rounded pastel-img">
      {% endif %}
    </div>

    <!-- Текст и кнопка -->
    <div class="col-12 col-lg-6">
      <div class="card-body">
        <h2 class="card-title">{{ meditation.title }}</h2>
        <p class="card-text">{{ meditation.description }}</p>
        <p><strong>Инструкция:</strong> {{ meditation.instructions }}</p>
        <p><strong>Время (мин):</strong> {{ meditation.duration }}</p>

        <form method="post" action="{% url 'start_meditation_session' meditation.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Начать медитацию</button>
        </form>
      </div>
    </div>

  </div>
</div>
{% endblock %}
